
@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
@{
    ViewBag.Title = ViewData["title"];
}

<div class="cskxx-c00 teaching">
    <div class="t1">授课中</div>
    <div class="t2">授课时间：@ViewData["rundate"]</div>
</div>
<div class="cskxx-c01">
    <div class="t">
        <div class="td">
            <img class="u" src="@(((System.Collections.Hashtable)ViewData["stu"])["HeadPic"])" />
        </div>
        <div class="td">
            <div class="li">学员姓名：@(((System.Collections.Hashtable)ViewData["stu"])["Name"])</div>
            <div class="li">电话：@(((System.Collections.Hashtable)ViewData["stu"])["Phone"])</div>
            <div class="li">性别：@ViewData["sex"]</div>
            <div class="li">年龄：@ViewData["age"]</div>
            <div class="li">报名时间：@(Convert.ToDateTime(((System.Collections.Hashtable)ViewData["stu"])["EnterDate"]).ToString("yyyy年MM月dd日"))</div>
        </div>
    </div>
</div>

<a href="javascript:void(0)" class="cw-xiake submit">下课</a>

<div class="blackrowgall unclickable">
    <div class="row height">
        <span class="tt blue">学车进度</span>
    </div>
    <div class="row">
        <div class="kejindu-dabk passed">
            <div class="kejindu-tt">科目一 <i class="fa fa-check-circle mwoi-label">已合格</i></div>
        </div>

        <div class="kejindu-dabk doing">
            <div class="kejindu-tt">科目二 <i class="fa fa-play-circle mwoi-label">学习中</i></div>
            <div class="kejindu-bieio">
                <div class="kejindu-tb">
                    <div class="kejindu-td col1">1. 倒车入库</div>
                    <div class="kejindu-td col2">
                        <div>
                            @if (ViewData["1"].ToString() != "0")
                            {
                                int count = Convert.ToInt32(ViewData["1"].ToString());

                                for (int i = 0; i < count; i++)
                                {
                                    <i class="fa fa-check-square"></i>
                                }
                            }
                        </div>
                        <div>
                            @if (ViewData["1"].ToString() == "0")
                            {
                                <span>暂未训练</span>
                            }
                            else
                            {
                                <span>已完成<span>@ViewData["1"]</span>次训练</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="kejindu-tb">
                    <div class="kejindu-td col1">2. 出库，入库</div>
                    <div class="kejindu-td col2">
                        <div>
                            @if (ViewData["2"].ToString() != "0")
                            {
                                int count = Convert.ToInt32(ViewData["2"].ToString());

                                for (int i = 0; i < count; i++)
                                {
                                    <i class="fa fa-check-square"></i>
                                }
                            }
                        </div>
                        <div>
                            @if (ViewData["2"].ToString() == "0")
                            {
                                <span>暂未训练</span>
                            }
                            else
                            {
                                <span>已完成<span>@ViewData["2"]</span>次训练</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="kejindu-tb">
                    <div class="kejindu-td col1">3. 上坡起步</div>
                    <div class="kejindu-td col2">
                        <div>
                            @if (ViewData["3"].ToString() != "0")
                            {
                                int count = Convert.ToInt32(ViewData["3"].ToString());

                                for (int i = 0; i < count; i++)
                                {
                                    <i class="fa fa-check-square"></i>
                                }
                            }
                        </div>
                        <div>
                            @if (ViewData["3"].ToString() == "0")
                            {
                                <span>暂未训练</span>
                            }
                            else
                            {
                                <span>已完成<span>@ViewData["3"]</span>次训练</span>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="kejindu-dabk waiting">
            <div class="kejindu-tt">科目三 <i class="fa fa-clock-o mwoi-label">未开始</i></div>
            <div class="kejindu-bieio">
                <div class="tc">暂未开始本科目学习</div>
            </div>
        </div>

        <div class="kejindu-dabk waiting">
            <div class="kejindu-tt">科目四 <i class="fa fa-clock-o mwoi-label">未开始</i></div>
            <div class="kejindu-bieio">
                <div class="tc">暂未开始本科目学习</div>
            </div>
        </div>
    </div>
</div>

<div class="clear-15"></div>
<a class="fullbtn normal" href="/home/mylesson">返回</a>
<div class="bt-distance"></div>
<script>
    var orderid = '@ViewData["orderid"]';

	$('document').ready(function() {
	    $(".submit").click(function () {
	        location.href = '/home/lessonend/' + orderid;
	    })
	});
</script>
