@{    
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
@{
    ViewBag.Title = ViewData["title"];
}

@*返回菜单*@
@Html.Partial("BackBanner", new List<string> { "我的模拟测试成绩", CommonLib.Web.WebTool.CDN("/exam/menu") })

@*<div class="blackrowgall unclickable nmt km-ksls">


    @foreach (var item in ViewData["data"] as List<System.Collections.Hashtable>)
        {
            if (Int32.Parse(item["Score"].ToString()) < Int32.Parse(CommonLib.Common.ConfigReader.Read("Passscore")))
            {
                <div class="row fail">
                    <span class="tt">@item["CreateAt"]</span>
                    <div class="holder">
                        <span>@item["Score"].ToString()分 <i class="fa fa-times-circle"></i></span>
                    </div>
                </div>
            }
            else
            {
                <div class="row success">
                    <span class="tt">@item["CreateAt"]</span>
                    <div class="holder">
                        <span>@item["Score"].ToString()分 <i class="fa fa-check-circle"></i></span>
                    </div>
                </div>
            }
        }
    </div>*@

<div class="km-ppt1">
    <div class="km-ppt2">@ViewData["ok_count"]<span class="km-ppt3">次</span></div>
    <div>测试合格</div>
</div>


<div class="km-ppt4">
    @if (Int32.Parse(ViewData["ok_count"].ToString()) < 3)
    {
        <!-- 还不具备报考的实力 -->
        <div class="km-ppt5 waiting">
            再成功<span class="gold">
            @ViewData["need_count"].ToString()
            </span>次，就具备报考的能力了！
        </div>
    }
    else
    {
        <!-- 已经具备报考的实力 -->
        <div class="km-ppt5 ok">
            你已经具备通过考试的能力了！
        </div>
    }

    <div class="clear-15"></div>
    <!-- 还不具备报考的实力，提醒用户再测一次 -->
    <a class="fullbtn" href="/exam/simulate">再来一次模拟测试</a>
    <!-- 还不具备报考的实力，提醒用户巩固知识 -->
    <a class="fullbtn" href="/exam/sequence" style="display:none">继续巩固</a>
</div>



<div class="bt-distance"></div>
<script type="text/javascript">
	$('document').ready(function() {

	});
</script>