@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
@{
    ViewBag.Title = ViewData["title"];
}
    
    <div class="p10-t02">
        @*<i class="fa fa-camera"></i>*@

        @{ 
            string headPic = "";
            string nickName = "";
            string lessonState = "";
            string isCoach = "";

            if (ViewData["data"] != null)
            {
                headPic = (ViewData["data"] as System.Collections.Hashtable)["HeadPic"].ToString();
                nickName = (ViewData["data"] as System.Collections.Hashtable)["NickName"].ToString();
                lessonState = (ViewData["data"] as System.Collections.Hashtable)["LessonState"].ToString();
                isCoach = (ViewData["data"] as System.Collections.Hashtable)["IsCoach"].ToString();
            }
        }
        <img src="@headPic" class="usrgmi" />
        <div class="p10-t03">@nickName</div>
    </div>


    <div class="blackrowgall unclickable nmt">
        @*<div class="row height">
            <span class="tt blue">当前学车进度</span>
            <a href="#" class="kejindu-all">查看全部进度</a>
        </div>*@
        <div class="row">
            <div class="p10-cnitb" style="display:none">
                <div class="tr">
                    <div class="td">报名驾校：</div>
                    <div class="td"><a href="/school/detail/1" style="text-decoration: underline;color:#3987D5;">深大驾校</a></div>
                </div>
            </div>
            @if (lessonState == "0")
            {
                <a href="/exam/menu" class="fullbtn">科目一考题</a>
            }
            else if (lessonState == "1")
            {
                <div class="kejindu-dabk doing">
                    <div class="kejindu-tt">科目二 <i class="fa fa-play-circle mwoi-label">学习中</i></div>
                    <div class="kejindu-bieio">
                        @{ 
                            int i = 1;
                        }
                        @foreach (var item in ViewData["list"] as List<System.Collections.Hashtable>)
                        {
                            int num = Int32.Parse(item["num"].ToString());

                            <div class="kejindu-tb">
                                <div class="kejindu-td col1">@i.ToString() . @item["teachtypetext"]</div>
                                <div class="kejindu-td col2">
                                    <div>
                                        @for (int n = 0; n < num; n++)
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }
                                       
                                    </div>
                                    
                                        @if (num > 0)
                                        {
                                            <div>
                                                已完成<span>@num</span>次训练
                                            </div>
                                        }
                                        else
                                        {

                                            <div>
                                                暂未训练 </div>
                                        }


                                    </div>

                            </div>

                            i++;
                        }
                    </div>

                    @*<div>

                        作者：
                        时间：2015-09-19
                        描述：下方3个按钮，代表了考前集训的不同阶段，后面2个span只是状态显示，无法点击<br />
                        理论上同一时刻只能出现一个，请酌情切换显示。

                        <a href="p10_yuejiao.html" class="fullbtn jixun yj">约教</a>
                        <a href="p09-1_jixunshenqing.html" class="fullbtn jixun lightgray">考前集训报名</a>
                        <span class="fullbtn jixun waiting">考前集训报名已提交，正在分配教练</span>
                        <span class="fullbtn jixun bookinged">已预约考前集训，日期：2015.12.15</span>
                    </div>*@
                </div>
            }
            else if (lessonState == "2")
            {
                <div class="kejindu-dabk doing">
                    <div class="kejindu-tt">科目三 <i class="fa fa-play-circle mwoi-label">学习中</i></div>
                    <div class="kejindu-bieio">
                        @{
                            int i = 1;
                        }
                        @foreach (var item in ViewData["list"] as List<System.Collections.Hashtable>)
                        {
                            int num = Int32.Parse(item["num"].ToString());

                            <div class="kejindu-tb">
                                <div class="kejindu-td col1">@i.ToString() . @item["teachtypetext"]</div>
                                <div class="kejindu-td col2">
                                    <div>
                                        @for (int n = 0; n < num; n++)
                                        {
                                            <i class="fa fa-check-square"></i>
                                        }

                                    </div>

                                    @if (num > 0)
                                    {
                                        <div>
                                            已完成<span>@num</span>次训练
                                        </div>
                                    }
                                    else
                                    {

                                        <div>
                                            暂未训练
                                        </div>
                                    }


                                </div>

                            </div>

                            i++;
                        }
                    </div>

                    @*<div>

                            作者：
                            时间：2015-09-19
                            描述：下方3个按钮，代表了考前集训的不同阶段，后面2个span只是状态显示，无法点击<br />
                            理论上同一时刻只能出现一个，请酌情切换显示。

                            <a href="p10_yuejiao.html" class="fullbtn jixun yj">约教</a>
                            <a href="p09-1_jixunshenqing.html" class="fullbtn jixun lightgray">考前集训报名</a>
                            <span class="fullbtn jixun waiting">考前集训报名已提交，正在分配教练</span>
                            <span class="fullbtn jixun bookinged">已预约考前集训，日期：2015.12.15</span>
                        </div>*@
                </div>
            }
            else if (lessonState == "3")
            {
                <a href="/exam/menu" class="fullbtn">科目四考题</a>
            }
            else
            {

            }
        </div>
    </div>

    <!--
        作者：
        时间：2015-09-19
        描述：此处“报名驾校”按钮和前面的“当前进度”以及下方的“约教练”部分互斥，
        只有没有报名的用户才出现此按钮，且不出现“当前进度部分”和“约教练”
        反之则互斥展示
    -->
    <div class="clear-15"></div>
    @*<a href="p13_baoming.html" class="fullbtn">报名驾校</a>*@

    <!--此处若没有钱，则隐藏-->
    <div class="blackrowgall unclickable">
        <div class="row actbtn">
            <span class="tt">账户余额</span>
            <div class="holder">
                <span>0元</span>
            </div>
        </div>
    </div>

    <div class="blackrowgall">
        <div class="row actbtn cd-slideoutbtn" rel="#">
            <span class="tt">真实姓名</span>
            <div class="holder arr">
                <span>@if (ViewData["data"] != null)
                {
                    var user = ViewData["data"] as System.Collections.Hashtable;

                    @user["Name"].ToString();
                }</span>
                <i class="icoin fa fa-angle-right"></i>
            </div>
        </div>
        <div class="row actbtn cd-slideoutbtn" id="pp-change-tel-btn" rel="#pp-change-tel">
            <span class="tt">手机</span>
            <div class="holder arr">
                <span>@if (ViewData["data"] != null)
                {
                    var user = ViewData["data"] as System.Collections.Hashtable;

                    @user["Phone"].ToString();
                }</span>
                <i class="icoin fa fa-angle-right"></i>
            </div>
        </div>
        <div class="row actbtn cd-slideoutbtn" rel="#">
            <span class="tt">身份证号</span>
            <div class="holder arr">
                <span>@if (ViewData["data"] != null)
                {
                    var user = ViewData["data"] as System.Collections.Hashtable;

                    @user["Code"].ToString();
                }</span>
                <i class="icoin fa fa-angle-right"></i>
            </div>
        </div>
    </div>

    @if (isCoach == "0")
    {
        <div class="blackrowgall">
            <div class="row actbtn cd_hottap height" hottap="/home/myorder">
                <span class="tt">我的订单</span>
                <div class="holder arr">
                    <i class="icoin fa fa-angle-right"></i>
                </div>
            </div>
            <div class="row actbtn cd_hottap height" hottap="/home/myhistory">
                    <span class="tt">我的学车记录</span>
                    <div class="holder arr">
                        <i class="icoin fa fa-angle-right"></i>
                    </div>
                </div>
                @*<div class="row actbtn cd_hottap height" hottap="p09_jindu.html">
                    <span class="tt">我的学车进度</span>
                    <div class="holder arr">
                        <i class="icoin fa fa-angle-right"></i>
                    </div>
                </div>*@
            <div class="row actbtn cd_hottap height" hottap="/my/coupon">
                <span class="tt">优惠券</span>
                <div class="holder arr">
                    <i class="icoin fa fa-angle-right"></i>
                </div>
            </div>
            <div class="row actbtn cd_hottap height" hottap="/my/message">
                <span class="tt">消息</span>
                <div class="holder arr">
                    <i class="icoin fa fa-angle-right"></i>
                </div>
            </div>
            <div class="row actbtn cd_hottap height" hottap="/home/myground">
                <span class="tt">我的考场</span>
                <div class="holder arr">
                    <i class="icoin fa fa-angle-right"></i>
                </div>
            </div>
            @if (lessonState == "1" || lessonState == "2")
            {
                <div class="row actbtn cd_hottap height" hottap="/home/mytest">
                    <span class="tt">报名考试</span>
                    <div class="holder arr">
                        <i class="icoin fa fa-angle-right"></i>
                    </div>
                </div>
            }           
        </div>
    }
    else
    {
        <div class="blackrowgall">
            <div class="row actbtn cd_hottap height" hottap="/home/mylesson">
                <span class="tt">我的授课</span>
                <div class="holder arr">
                    <i class="icoin fa fa-angle-right"></i>
                </div>
            </div>
            <div class="row actbtn cd_hottap height" hottap="/my/message">
                <span class="tt">消息</span>
                <div class="holder arr">
                    <i class="icoin fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    }


    <div class="clear-15"></div>
    @*<a href="p19_tousu.html" class="fullbtn normal">投诉和建议</a>*@

    <div class="bt-distance"></div>

    @*<div class="slidepopup cd-slidepopup" id="pp-change-name">
        <div class="tt">更改真实姓名<span class="back cd-slidepopupback"><i class="ico fa fa-angle-left"></i></span></div>
        <div class="blackrowgall">
            <div class="row">
                <input placeholder="请填写" type="text" maxlength="11" value="张三丰" class="fulltxtinput" />
            </div>
        </div>
        <div class="clear-15"></div>
        <div class="fullbtn">
            确认
        </div>
    </div>*@

    <div class="slidepopup cd-slidepopup" id="pp-change-tel">
        <div class="tt">请输入您的号码<span class="back cd-slidepopupback"><i class="ico fa fa-angle-left"></i></span></div>
        <div class="blackrowgall">
            <div class="row">
                <input id="phone" placeholder="请填写手机号码" type="tel" maxlength="11" value="@if (ViewData["data"] != null)
                {
                    var user = ViewData["data"] as System.Collections.Hashtable;

                    @user["Phone"].ToString();
                }" class="fulltxtinput" />
                <button id="sendvalcodbt" class="sendvalcodbt">发送验证码</button>
            </div>
            <div class="row">
                <input id="val_code" placeholder="验证码" type="tel" maxlength="11" class="fulltxtinput" />
                <input type="hidden" id="rand_code">
            </div>
        </div>
        <div class="clear-15"></div>
        <div id="btn_saveinfo" class="fullbtn">
            确认
        </div>
    </div>

    @*<div class="slidepopup cd-slidepopup" id="pp-change-id">
        <div class="tt">更改身份证号码<span class="back cd-slidepopupback"><i class="ico fa fa-angle-left"></i></span></div>
        <div class="blackrowgall">
            <div class="row">
                <input placeholder="请填写身份证号码" type="text" value="" class="fulltxtinput" />
            </div>
        </div>
        <div class="clear-15"></div>
        <div class="fullbtn">
            确认
        </div>
    </div>*@
<div class="bt-distance"></div>


<script type="text/javascript">
    $('document').ready(function () {

        $('body').addClass('HOMEMENU');
        $("#menu_fix_me").addClass('selected');

		$('#didntsettel').click(function(){
		    $('#pp-change-tel-btn').click();
		});

		$('#sendvalcodbt').click(function () {
		    var mobile_no = $('#phone').val();

		    if (!mobile_no || mobile_no.length != 11) {
		        alert("请输入正确的手机号码!");

		        return;
		    }

		    var params = {
		        url: "/api/tools/sendsms",
		        data: { 'mobile': mobile_no },
		        successFun: successFun,
		        errorFun: errorFun
		    }

		    ajaxTo(params);

		    //is_count = true;
		    countDown(this);
		})

		$('#validate_code').click(function () {
		    var code = $("#rand_code").val();

		    var tmp_code = $("#val_code").val();

		    if (!tmp_code) {
		        alert('请先验证验证码!');

		        return;
		    }
		    if (code != tmp_code) {
		        if (code.indexOf(tmp_code) == -1) {
		            alert("验证码不正确!");

		            return;
		        }
		    }

		    var mobile_no = $('#send_no').val();

		    $('#student_phone').html(mobile_no);
		    $('#Phone').val(mobile_no);
		    //验证成功后清空缓存
		    $("#rand_code").val('');

		    closePopup($("#pp-change-tel").find('.cd-slidepopupback'));
		})

		$('#btn_saveinfo').click(function () {
		    save();
		})
    });
    function successFun(data) {
        var code = $("#rand_code").val();
        //alert(data.data);
        if (!code)
            code = data.data;
        else
            code = code + "|" + data.data;

        $("#rand_code").val(code);
    }

    function errorFun(data) {
        alert(data.message);
    }


	function save() {
	    var user_id = $.cookie('user_id');
	    var phone = $("#phone").val();
	    var num = $('#val_code').val();
	    var valid_phone = $('#rand_code').val();

	    if (!num) {
	        var options = {
	            msg: "请输入验证码!",
	            exitText: "关闭!"
	        };

	        $.alertbox(options);

	        return;
	    }

	    if (num != valid_phone) {
	        var options = {
	            msg: "验证码不正确!",
	            exitText: "关闭!"
	        };

	        $.alertbox(options);

	        return;
	    }

	    var params = {
	        url: "/api/Student/setValue",
	        data: { 'StudentID': user_id, 'phone': phone },
            type:'post',
	        successFun: success,
	        errorFun: false
	    }

	    ajaxTo(params);
	}

	function success(data) {
	    var options = {
	        msg: "保存成功!",
	        exitText: "关闭!"
	    };

	    $.alertbox(options);

	    location.reload();
	}

	function error(data) {
	    var options = {
	        msg: "保存失败!",
	        exitText: "关闭!"
	    };

	    $.alertbox(options);
	}

</script>
