<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    @if (CommonLib.Common.ConfigReader.Read("CurrentEnv") == "prod")
    {
        string cdnDomain = CommonLib.Common.ConfigReader.Read("CdnDomain");
        // 生产环境，出现cdn域名
        @Styles.RenderFormat("<link href=\"" + cdnDomain + "{0}\" type=\"text/css\" rel=\"stylesheet\"/>", "~/statics/jx/css/all")
        @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"" + cdnDomain + "{0}\"></script>", "~/statics/jx/js/all")
    }
    else
    {
        // 开发环境，不出现cdn域名
        @Styles.Render("~/statics/jx/css/all")
        @Scripts.Render("~/statics/jx/js/all")
    }
    <script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js" type="text/ecmascript"></script>
    <script>
        if (remote_ip_info["city"] != '武汉') {
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?cd6a83d796361da6aaae6c4bbd7dc9dd";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        }
    </script>
</head>
<body ontouchstart="">
    <!-- $.waiting()（START） -->
    <div class="rotatedivwrapper">
        <div class="rotatediv"></div>
        <div class="msg"></div>
    </div>
    <!-- $.waiting()（END） -->

    <!--底部menu（START）-->
    <div class="menu-fix">
        <div class="menu-fix-itm home cd_hottap" id="menu_fix_home" hottap="/home"><i class="ico"></i><span class="ctxt">云e驾</span></div>
        <div class="menu-fix-itm ceshi cd_hottap" id="menu_fix_ceshi" hottap="/exam/menu"><i class="ico"></i><span class="ctxt">驾考宝典</span></div>
        <div class="menu-fix-itm me cd_hottap" id="menu_fix_me" hottap="/my/index"><i class="ico"></i><span class="ctxt">个人中心</span></div>
    </div>
    <!--底部menu（END）-->

    @RenderBody()
    
    <script type="text/javascript">
		$('document').ready(function() {
		    //if (validEnvironment() == 0 && page_type != 3) {
		    //    location.href = "/about";
		    //}

		    //if (page_type == 1) {
		        //userLogin();
		    //}

		});
        
        @RenderSection("LastScript", required: false)
    </script>
</body>

</html>
