@{
    Layout = "~/Views/Shared/_Manage.cshtml";
}
@{
    ViewBag.Title = "学员详细";
}
@{
    System.Collections.Hashtable obj = ViewData["item"] as System.Collections.Hashtable;

    string studentID = obj["StudentID"].ToString();
    string name = obj["Name"].ToString();
    string nickName = obj["NickName"].ToString();
    string headPic = obj["HeadPic"].ToString();
    string sex = obj["Sex"].ToString();
    string birthday = obj["Birthday"].ToString();
    string code = obj["Code"].ToString();
    string place = obj["Place"].ToString();
    string licenseTypeID = obj["LicenseTypeID"].ToString();
    string phone = obj["Phone"].ToString();
    string email = obj["Email"].ToString();
    string qq = obj["Qq"].ToString();
    string schoolID = obj["SchoolID"].ToString();
    string isMark = obj["IsMark"].ToString();
    string createAt = obj["CreateAt"].ToString();
    string lessonState = obj["LessonState"].ToString();

    var list2 = ViewData["list2"] as List<System.Collections.Hashtable>;
    var list3 = ViewData["list3"] as List<System.Collections.Hashtable>;
}


<div class="main-body-relative relative">
    <div class="fix-wxp-toolbar unfix">
        <div class="fix-wxp-toolbar-wp">
            <div class="fix-wxp-toolbar-txt">
                <a href="/manage/studentlist" class="breadcrumb-prev">学员列表</a> 
                <span class="breadcrumb-prev">/</span> 
                <span class="breadcrumb-t1">学员信息</span>
            </div>
        </div>
    </div>

    <div class="cko-wp">
        <div class="clear-20"></div>
        <!-- Tab panes -->
        <div class="tab-content tab-kiki-ct">
            <div role="tabpanel" class="tab-pane fade in active" id="ts-info">
                <div class="opl-table">
                    <div class="tt">
                        <span>基本信息</span>

                    </div>
                    <div class="ct clearfix">
                        <div class="inner-table">
                            <div class="row">
                                <div class="cell col1">真实姓名</div>
                                <div class="cell col2">@name</div>
                            </div>
                            <div class="row">
                                <div class="cell col1">昵称</div>
                                <div class="cell col2">@nickName</div>
                            </div>
                            <div class="row">
                                <div class="cell col1">性别</div>
                                @if (sex == "1")
                                {
                                    <div class="cell col2">男</div>
                                }
                                else
                                {
                                    <div class="cell col2">女</div>
                                }
                            </div>
                            <div class="row">
                                <div class="cell col1">生日</div>
                                <div class="cell col2">@birthday</div>
                            </div>
                            <div class="row">
                                <div class="cell col1">身份证号码</div>
                                <div class="cell col2">@code</div>
                            </div>
                            <div class="row">
                                <div class="cell col1">所在地</div>
                                <div class="cell col2">@place</div>
                            </div>
                            <div class="row">
                                <div class="cell col1">驾照类型</div>
                                @if (licenseTypeID == "1")
                                {
                                    <div class="cell col2">C1手动</div>
                                }
                                else
                                {
                                    <div class="cell col2">C2自动</div>
                                }
                            </div>
                        </div>

                        <div class="inner-table">
                            <div class="row">
                                <div class="cell col1">电话号码</div>
                                <div class="cell col2">@phone</div>
                            </div>
                            <div class="row">
                                <div class="cell col1">邮箱</div>
                                <div class="cell col2">@email</div>
                            </div>
                            <div class="row">
                                <div class="cell col1">QQ</div>
                                <div class="cell col2">@qq</div>
                            </div>
                            <div class="row">
                                <div class="cell col1">加入时间</div>
                                <div class="cell col2">@DateTime.Parse(createAt).ToString("yyyy年MM月dd日 HH:mm:ss")</div>
                            </div>
                            <div class="row">
                                <div class="cell col1">头像</div>
                                <div class="cell col2"><img src="@headPic" width="60"></div>
                            </div>
                        </div>

                        <div class="clear-15"></div>
                        <div class="alert alert-success tc">
                            已经登记为本驾校学员
                        </div>
                    </div>
                </div>

                <div class="opl-table">
                    <div class="tt">科目二考场
                        <select id="ground2">
                            @foreach (var itm in list2)
                            {
                                if (itm["groundid"].ToString() == obj["groundid_2"].ToString())
                                {
                                    <option value="@itm["groundid"]" selected="selected">@itm["groundname"]</option>
                                }
                                else
                                {
                                    <option value="@itm["groundid"]">@itm["groundname"]</option>
                                }
                            }
                        </select>
                        <button class="btn btn-primary cornerbtn ground2-save">修改考场</button>
                    </div>
                    <div class="tt">科目三考场
                        <select id="ground3">
                            @foreach (var itm in list3)
                            {
                                if (itm["groundid"].ToString() == obj["groundid_3"].ToString())
                                {
                                    <option value="@itm["groundid"]" selected="selected">@itm["groundname"]</option>
                                }
                                else
                                {
                                    <option value="@itm["groundid"]">@itm["groundname"]</option>
                                }
                            }
                        </select>
                        <button class="btn btn-primary cornerbtn ground3-save">修改考场</button>
                    </div>
                    <div class="tt">
                        <select id="lessonState">
                            @if (lessonState == "0")
                            {
                                <option value="1" selected="selected">科目一</option>
                            }
                            else
                            {
                                <option value="1">科目一</option>
                            }
                            @if (lessonState == "1")
                            {
                                <option value="2" selected="selected">科目二</option>
                            }
                            else
                            {
                                <option value="2">科目二</option>
                            }
                            @if (lessonState == "2")
                            {
                                <option value="3" selected="selected">科目三</option>
                            }
                            else
                            {
                                <option value="3">科目三</option>
                            }
                            @if (lessonState == "3")
                            {
                                <option value="4" selected="selected">科目四</option>
                            }
                            else
                            {
                                <option value="4">科目四</option>
                            } 
                        </select>
                        <button class="btn btn-primary cornerbtn exam-submit">考试通过</button>
                    </div>
                    <div class="tt">
                        <span>代金券&amp;学时券</span>
                        <button class="btn btn-primary cornerbtn send-coupon">发送学时券</button>
                    </div>
                    <div class="ct clearfix coupon-list">
                        @*<div class="bnieitm xsq">
                            <span class="mgtxt">2015年5月12日 14:32:34</span>
                            <span class="dctxt">学时券 x 1</span>
                            <span class="dctxt ed">已使用</span>
                        </div>
                        <div class="bnieitm xsq">
                            <span class="mgtxt">2015年5月9日 14:32:34</span>
                            <span class="dctxt">学时券 x 1</span>
                            <span class="dctxt">未使用</span>
                        </div>
                        <div class="bnieitm xsq">
                            <span class="mgtxt">2015年5月8日 14:32:34</span>
                            <span class="dctxt">学时券 x 1</span>
                            <span class="dctxt">未使用</span>
                        </div>
                        <div class="bnieitm xsq">
                            <span class="mgtxt">2015年5月7日 14:32:34</span>
                            <span class="dctxt">学时券 x 1</span>
                            <span class="dctxt ed">已使用</span>
                        </div>
                        <div class="bnieitm dkq">
                            <span class="mgtxt">2015年5月6日 14:32:34</span>
                            <span class="dctxt">抵扣券 x 1</span>
                            <span class="dctxt ed">已使用</span>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="coupon-item" style="display:none">
    <div class="bnieitm xsq">
        <span class="mgtxt"></span>
        <span class="dctxt">学时券 x 1</span>
        <span class="dctxt ed">未使用</span>
    </div>
</div>

<!-- /container -->
<script type="text/javascript">
    var student_id = '@studentID';
    var school_id = '@schoolID';

	$(document).ready(function() {
	    $('.exam-submit').click(function () {
	        setLessonState();
	    });

	    $('.send-coupon').click(function () {
	        sendCoupon();
	    })

	    loadMyCoupon();

	    $('.ground2-save').click(function () {
	        var groundid2 = $('#ground2').val();
	        var groundname2 = $('#ground2').find("option:selected").text();

	        if (groundid2 == 0) {
	            alert("请选择科目二考场!");

	            return;
	        }

	        saveGround(groundid2, groundname2, student_id, 2);
	    })

	    $('.ground3-save').click(function () {
	        var groundid3 = $('#ground3').val();
	        var groundname3 = $('#ground3').find("option:selected").text();

	        if (groundid3 == 0) {
	            alert("请选择科目三考场!");

	            return;
	        }

	        saveGround(groundid3, groundname3, student_id, 3);
	    })
	});

	function sendCoupon() {
	    var data = { 'StudentID': student_id };

	    var params = {
	        url: '/api/Coupon/AddTimeCoupon',
	        data: data,
	        successFun: successSend,
	        errorFun: errorSend
	    }

	    ajaxTo(params);
	}

	function successSend(data) {
	    if (data.code == "200") {
	        loadMyCoupon();
	    }
	    else {
	        var opertion = {
	            msg: data.message,
	            exitText: "关闭!"
	        };

	        $.alertbox(opertion);
	    }
	}

	function errorSend() {
	    var opertion = {
	        msg: "评分失败!",
	        exitText: "关闭!"
	    };

	    $.alertbox(opertion);
	}
	
	function loadMyCoupon() {
	    var data = { 'StudentID': student_id };

	    var params = {
	        url: '/api/Coupon/getCoupon',
	        data: data,
	        type: 'get',
	        successFun: successCoupon,
	        errorFun: errorCoupon
	    }

	    ajaxTo(params);
	}

	function successCoupon(data) {
	    var datainfo = eval('[' + data.data + ']');

	    var list = $('.coupon-list');

	    list.html('');

	    $.each(datainfo, function () {
	        var node = $('#coupon-item').find('.bnieitm').clone();

	        var d = this.CreateAt + ' - ' + this.Expire;

	        node.find('.mgtxt').html(d);

	        if (this.IsUse != '1') {
	            node.find('.ed').removeClass('ed');
	        }
	        else {
	            node.find('.ed').html('已使用');
	        }

	        list.append(node);
	    })
	}

	function errorCoupon() {
	    alert('网络异常, 请重试!');
	}

	function setLessonState() {
	    var lessonState = $('#lessonState').val();

	    var data = { 'studentid': student_id, 'lessonstate': lessonState };

	    var params = {
	        url: '/api/student/setLessonState',
	        data: data,
	        successFun: successSetLessonState,
	        errorFun: errorSetLessonState
	    }

	    ajaxTo(params);
	}

	function successSetLessonState(data) {
	    var opertion = {
	        msg: data.message,
	        exitText: "关闭!"
	    };
	    alert(data.message);
	    //$.alertbox(opertion);
	}

	function errorSetLessonState() {
	    var opertion = {
	        msg: '网络异常, 请重试!',
	        exitText: "关闭!"
	    };
	    alert('网络异常, 请重试!');
	    //$.alertbox(opertion);
	}

	function saveGround(groundid, groundname, userid, type) {
	    var data = null;

	    if (type == 2) {
	        data = { 'StudentID': userid, 'groundid_2': groundid, 'groundname_2': groundname };
	    }
	    else {
	        data = { 'StudentID': userid, 'groundid_3': groundid, 'groundname_3': groundname };
	    }

	    var params = {
	        url: '/api/student/setValue',
	        data: data,
	        successFun: successSaveGround,
	        errorFun: errorSaveGround
	    }

	    ajaxTo(params);
	}

	function successSaveGround(data) {
	    alert(data.message);
	}

	function errorSaveGround() {
	    alert("保存失败!");
	}
</script>